<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Lead's data</title>
</head>
<body>

    <form th:method="PATCH" th:action="@{/leads/{id}(id=${lead.getId()})}" th:object="${lead}">
	    <label for="firstname"> First Name </label>
	    <input type="text" th:field="*{FirstName}" id="firstname"/>
	       <br/>
	    <label for="lastName"> Last Name </label>
        <input type="text" th:field="*{LastName}" id="lastName"/>
            <br/>
        <label for="title"> Title </label>
        <input type="text" th:field="*{Title}" id="title"/>
            <br/>
        <label for="email"> Email </label>
        <input type="text" th:field="*{Email}" id="email"/>
	       <br/>
        <label for="proof"> Proof Link </label>
        <input type="text" th:field="*{Proof}" id="proof"/>
	       <br/>
	    <input type="submit" value="Update!"/>
   </form>

</body>
</html>