<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>All Leads</title>
</head>
<link th:href="@{/static/main.css}" rel="stylesheet">
<body>

	<h1>Platform</h1>

	<div class="column-left">
		<div th:each="lead : ${leads}">
			<a th:href="@{/leads/{id}(id=${lead.getId()})}"
				th:text="${lead.getFirstName() + '  ' + lead.getLastName() + ', ' + lead.getTitle() 
         + ', ' + lead.getEmail() + ', ' + lead.getProof() }">lead</a>
		</div>
	</div>
	<br>
	<div class="column-right">
		<div th:each="company : ${companies}">
			<a th:href="@{/companies/{id}(id=${company.getId()})}"
				th:text="${company.getName()+ '  ' + company.getStreet()+ '  ' + company.getCity()}">company</a>
		</div>
	</div>
	<br />
	<hr />

	<a href="/DipProject/leads/new">Create new Lead</a>

</body>
</html>