<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lead</title>
<script src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js'></script>
</head>
<link th:href="@{/static/show.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/static/action.js}"></script>
<body>
	<form class="lead-form" th:object="${lead}">
		<input type="hidden" th:field="*{id}" id="leadId">
		<div class="contact">
			<div class="name-email-company">
				<label for="contact-Name-Email-Company">Name/Email/Company</label>
				<div class="name">
					<div class="firstName">
						<input type="text" th:field="*{FirstName}"  id="firstName" />
					</div>
					<div class="lastName">
						<input type="text" th:field="*{LastName}" id="lastName" />
					</div>
				</div>
				<div class="email">
					<input type="text" th:field="*{Email}" id="email" />
				</div>
			</div>
			<div class="title-proof">
				<label for="contact-name2">Title/Proof</label>
				<div class="title">
					<input type="text" th:field="*{Title}" id="title" />
				</div>
				<div class="proof">
					<input type="text" th:field="*{Proof}" id="proof" />
				</div>
			</div>
		</div>
	</form>

	<br />
	<br />
	<br />
	<br />

	<form class="company-form" th:object="${company}">
		<input type="hidden" th:field="*{id}" id="companyId">
		<div class="company">
			<div class="company-Name">
				<input type="text" th:field="*{Name}" id="name" />
			</div>
			<div class="employee-revenue">
				<div class="employee">
					<label for="employee">Employee</label> 
					<input type="text" th:field="*{Size}" id="size"/> 
					<input type="text" th:field="*{Sizeproof}" id="employeeproof" />
				</div>
				<div class="revenue">
					<label for="revenue">Revenue</label>
					<input type="text" th:field="*{Revenue}" id="revenue" /> 
					<input type="text" th:field="*{Revenueproof}" id="revenueproof" />
				</div>
			</div>
			<div class="industry">
				<label for="industry">Industry</label> <input type="text"
					th:field="*{Industry}" id="industry" />
			</div>
			<div class="phone">
				<input type="text" th:field="*{Phone}" id="phone" />
			</div>
			<div class="Address">
				<label for="Address">Address</label>
				<div class="country">
					<input type="text" th:field="*{Country}" id="country" />
				</div>
				<div class="state">
					<input type="text" th:field="*{State}" id="state" />
				</div>
				<div class="street">
					<input type="text" th:field="*{Street}" id="street" />
				</div>
				<div class="city">
					<input type="text" th:field="*{city}" id="city" />
				</div>
				<div class="zip">
					<input type="text" th:field="*{zip}" id="zip" />
				</div>
			</div>
		</div>
	</form>
	<input type="submit" id="submitTwo" value="send">
	<br />
	<hr />
	
</body>
</html>